<div class="post-comments">
  <div id="disqus_thread" data-disqusId="{{ .Params.disqus_identifier | default (trim .URL "\\/") }}"></div>
  <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT
       *  DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
       *  https://disqus.com/admin/universalcode/#configuration-variables
       */
      var disqus_config = function () {
        {{ if (isset .Params "canonicalurl") }}
          this.page.url = '{{ .Params.canonicalurl }}';
        {{ else if (isset .Site.Params "canonicalurl") }}
          this.page.url = '{{ printf "%s%s" .Site.Params.canonicalurl .URL }}';
        {{ end}}
        this.page.identifier = '{{ .Params.disqus_identifier | default (md5 .File.BaseFileName) }}';
      };
      
      (function() {  /* DON'T EDIT BELOW THIS LINE */
          if (window.location.hostname == "localhost") return;

          var d = document, s = d.createElement('script');

          s.src = "https://{{ .Site.DisqusShortname }}.disqus.com/embed.js";

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript> Aktifkan javascript untuk memberi komentar </noscript>
</div>
