{{ define "main" }}
<!-- <header class="archive-title"> <h5>Pencarian</h5> </header> -->
<form class="search" method="post">
    <input id="searchInput" type="text" name="cari" placeholder="Ketik yang ingin dicari" onkeyup="search()">
</form>

<ul class="archive">{{ range .Data.Pages.GroupByDate "2006" }}
  <li>
    <h4>{{ .Key }}</h4>
    <ul class="posts-list">
      {{ range .Pages }}
        <li class="post">
          <time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "02/01/2006" }}</time>
          <span class="separator"> - </span>
          <div class="post-permalink">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
        </li>
      {{ end }}
    </ul>
  </li>{{ end }}
</ul>
{{ end }}

{{ define "javascript" }}
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
<script>
var client = algoliasearch('HSLCDM63EE', '53f3e3a702b088c1797755eb4fa06ab1');
var index  = client.initIndex('nsetyo.id');

function search(e) {
  var query = document.getElementById('searchInput').value;

  index.search(query, function(err, content) {
    console.log(content.hits);
  });

}
</script>
{{ end }}
